* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    font-family:'gilroy';

    /* overflow: hidden; */
}
@font-face{
    font-family:'gilroy';
    src:url('./fonts/gilroy.ttf')
}

@font-face{
    font-family:'gilroy';
    src:url('./fonts/gilroyultra.ttf')
}

@font-face{
    font-family:'Bebes';
    src:url('./fonts/bebesNeue.ttf')
}

@font-face{
    font-family:'GraphikLight';
    src:url('./fonts/Graphik-Regular.ttf')
}

@font-face{
    font-family:'GraphikBold';
    src:url('./fonts/Graphik-Bold.ttf')
}
body{
    overflow-x: hidden;
}
@font-face {
    font-family: 'gilroy';
    src: url('./fonts/gilroy.ttf')
}

.searchdrop {
    padding: 16px 0 16px 16px;
    border-radius: 5px;
}

.header__logo {
    width: 150px;
    text-align: center;
}

.header__logo a {
    text-align: center;
    width: 150px;
}

.stand1 {
    font-size: 20px !important;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    min-height: 100px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: #1C1E21;
    padding-top: 17px;
    padding-bottom: 40px;

}

.containerMain {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

header {
    max-width: 100%;

}

.searchdrop {
    padding: 16px 0 16px 16px;
    border-radius: 5px;
}

.class {
    height: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    cursor: pointer !important;
}

.nav {
    display: flex;
    align-items: center;
}

.nav>li {
    margin-left: 28px;
}

.nav>li a {
    font-size: 16px;
    line-height: 17.6px;
    font-weight: 600;
/*    font-family: 'graphik';*/

}

.nav>li:last-child {
    display: flex;
}

.nav2 {
    display: flex;
    column-gap: 20px;
}



.nav2>li a {
    font-size: 16px;
    line-height: 17.6px;
    font-weight: 600;
/*    font-family: 'graphik';*/


}

.nav2>li:last-child {
    display: flex;
}

.nav2>li img {
    margin-right: 15px;
    cursor: pointer;
}

.DnoneImg {
    display: none;
}

.nav>li img {
    margin-right: 15px;
    cursor: pointer;
}

header a {
    color: white;
}

.stand {
    font-size: 32px;
    font-family: 'Bebes';

    line-height: 32px;
    font-weight: 700;
}

.concert {
    font-size: 12px;
    font-weight: 400;
    line-height: 10.44px;
    letter-spacing: 1px;
    display: block;
    text-align: center;
    font-family: 'gilroy';

}

.burger {
    width: 18px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    row-gap: 8px;
}

.burger>img {
    /* margin-top: 10px; */
    border-radius: 2px;
}

.burger>img:last-child {
    width: 10px;
    height: 2px;
    transition: .5s;
}

.burger:hover>img:last-child {
    width: 18px;
}

.myCabinet {
    background-color: #D12F27;
    color: white;
    padding: 10px 32px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 5px;
}

.sec1Txt1 {
/*    font-family: 'graphik';*/
    font-size: 14px;
    color: #8D8E90;
    font-weight: 900;
    padding-bottom: 24px;
}

#sec1 {
    background-color: #1C1E21;
}

.sec1Txt1_1 {
    color: #8D8E90;
    font-weight: 100 !important;
}

.aboutTxt1Par {
    display: flex;
    justify-content: flex-start;
}

.mainSec {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.photoDiv {
    width: 757px;
    height: 428px;
    background-size: cover;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    background-position: center center;
    align-items: center;
    background-image: url(../img/catalogopen.png);
}

.photoDiv>a {
    padding: 20px 68px;
    background-color: #D12F27;
    color: white;
    text-decoration: none;
    border-radius: 40px;
}

.aboutDiv {
    width: 524px;

}

.aboutTxt1 {
    font-size: 30px;
    color: white;
    font-weight: 600;
    padding-bottom: 27px;
}

.aboutTxt1_1 {
    font-size: 30px;
    color: white;
    font-weight: 600;
    padding-bottom: 27px;
    display: none;

}

.aboutTxt2Div {
    width: 52%;
    display: flex;
    justify-content: space-between;
    color: #D2D2D3;
    align-items: center;
    font-size: 14px;
    padding-bottom: 42px;
}

.DnoneSpan {
    display: none;
}

.aboutTxt2Div div {
    display: flex;
    align-items: center;
    color: #D2D2D3;
}

.aboutTxt3 {
    font-size: 14px;
    font-weight: 300;
    color: white;
    padding-bottom: 21px;
}

.aboutTxt4 {
    color: #A4A5A6;
    font-size: 14px;
    width: 524px;
    line-height: 22.4px;
}

.mainButs {
    background-color: #35373A;
    color: white;
    display: flex;
    padding: 10px 17px;
    border-radius: 3px;
    border: 1px solid transparent;
}

.mainButs p {
    padding-left: 7.32px;
}

.mainButsPar {
    display: flex;
    column-gap: 12px;
    padding-top: 35px;
    padding-bottom: 77px;
}

#sec2 {
    background-color: #19191D;
    padding: 73px 0 118px;
}

.commentsPar {
    width: 482px;
    margin: 0 auto;
}

.commentsTxt1 {
    font-size: 26px;
    color: white;
    font-weight: 600;
    padding-bottom: 30px;
}

.sendComent {
    display: flex;
    justify-content: space-between;

}

.commentInput {
    width: 421px;
    border: #5F6163 1px solid;
    background-color: #1B1D20;
    border-radius: 6px;
    padding: 14px 0 77px 20px;
}

.commentInput::placeholder {
    font-size: 14px;
    font-weight: 400;
}

.commentBut {
    width: 421px;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 14px;
    border-radius: 6px;
    border: 1px solid transparent;
    background-color: #D12F27;
    color: white;
    font-size: 16px;
}

.comments {
    display: flex;
    /* justify-content: flex-end; */
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: column;
}

.comment {
    width: 421px;
    padding-top: 54px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.comenter {
    font-size: 16px;
    color: white;

}

.burger__menu {
    position: absolute;
    right: -70%;
    top: 0;
    width: 713px;
    height: 100vh;
    background: linear-gradient(#1C1E21, #2C2E31 90%);
    z-index: 2;
    padding-left: 75px;
    padding-top: 52px;
    color: white;
    transition: .65s;
    display: none;
}

.burger__menu h4 {
    font-size: 16px;
    line-height: 17.6px;
    font-weight: 600;
    margin-bottom: 30px;
}

.burger__ul {
    display: flex;
    flex-direction: column;
}

.burger__ul li+li {
    margin-top: 30px;
}

.burger__ul li a {
    color: white;
    font-size: 16px;
    line-height: 17.6px;
    font-weight: 300;
}

.burger__menu img {
    position: absolute;
    top: 40px;
    right: 50%;
    cursor: pointer;
}

.nameCommenterDiv {
    padding-top: 10px;
}

.comenter span {
    padding-left: 17px;
    font-size: 12px;
    color: #707072;
}

.DnoneImg {
    display: none;
}

.commentTxt {
    color: #A6A6A7;
}

.likes {
    color: #A6A6A7;
    padding: 13px 0 16px;
    font-size: 12px;
    display: flex;

}

.likes span {
    padding-left: 5px;
}

.comment:last-child {
    padding-top: 25px;
}

.elementsPar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 51px 0 58px;
    row-gap: 24px;
}

.elements {
    width: 253px;
    /* border-radius: 10px; */
    color: white;
    overflow: hidden;
}

.elBigTxt {
    font-size: 18px;
    padding: 12px 0 4px 0;

}

.elSmallTxtPar {
    font-size: 12px;
    color: #545658;
    display: flex;
    justify-content: space-between;
}

.elSmallTxtPar span:nth-child(2) {
    color: #8D8E90;
}

.elements>img {
    border-radius: 10px;
}

#sec3 {
    background-color: #1C1E21;
}

.sec3Txt {
    font-size: 28px;
    color: white;
    padding-top: 82px;
}

footer {
    width: 100%;
    min-height: 157px;
    background: #19191D;
}

.footer__container {
    max-width: 1350px;
    margin: auto;
    min-height: 157px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}


footer .stand {
    color: white;
}

footer .concert {
    color: white;
}

footer a {
    color: white;
}

.vk {
    width: 38px;
    height: 38px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register h2 {
    color: white;
    font-size: 48px;
    line-height: 54.24px;
    text-align: center;
    font-weight: 700;
    margin-top: 70px;
}

.register p {
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 17.6px;
    font-weight: 400;
}

.register form {
    max-width: 416px;
    min-height: 406px;
    margin: auto;
    background: rgba(25, 25, 29, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.21);
    border-radius: 15px;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 0 39px;
}

.register form input[type='email'],
input[type='password'] {
    width: 340px;
    height: 54px;
    background: #0D0D0D;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 40px;
    padding: 0 30px;
    color: white;
}

.input {
    position: relative;
}

.input img {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    cursor: pointer;
}

.max {
    width: 100%;
    padding-left: 60px;
}

.max p {
    text-align: left;
}

.allow {
    width: 100%;
    display: flex;
    padding-left: 60px;
    margin-top: 20px;
}

.allow p {
    text-align: left;
    color: white;
    font-size: 15px;
    line-height: 15.95px;
    font-weight: 400;
    margin-left: 4px;
}

.allow a {
    color: white;
    text-decoration: underline;
}

@media only screen and (max-width:1355px) {
    .container {
        width: 1000px;
    }

    .mainSec {
        justify-content: space-evenly;
    }

    .photoDiv {
        width: 45%;
    }

    .aboutDiv {
        width: 45%;
    }

    .mainButsPar {
        margin-left: 34px;
    }

    .aboutTxt2Div {
        width: 60%;
    }

    .Dnone {
        display: none;
    }
}

@media only screen and (max-width:1080px) {
    .container {
        width: 800px;
    }

    .burger__menu {
        width: 350px;
    }

    .burger__menu img {
        right: 20%;
    }

    .mainSec {
        justify-content: space-between;
    }

    .aboutTxt2Div {
        width: 80%;
    }

    .aboutTxt4 {
        width: 95%;
    }
    .myCabinet img {
        display: block;
    }

    .myCabinet {
        padding: 10px 11px;
        margin-right: 14px;
    }

    .myCabinet span {
        display: none;
    }
}

@media screen and (max-width:815px) {
    .container {
        width: 550px;
    }
    .stand{
        font-size: 18px !important;
    }
    .searchdrop {
        width: 190px;
        overflow: hidden;
    }

    .myCabinet img {
        display: block;
    }

    .myCabinet {
        padding: 10px 11px;
        /* margin-right: 14px; */
    }

    .myCabinet span {
        display: none;
    }

    .DnoneLi{
        display: none;
    }

    .myCabinet>span {
        display: none;
    }

    .nav2 {
        width: 100% !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
        padding-top: 20px;
    }

    .DnoneImg {
        display: block;
    }

    .footer__container {
        flex-direction: column;
    }

    .mainSec {
        flex-direction: column;
    }

    /* .header__logo {
        padding-top: 20px;
    } */

    .photoDiv {
        width: 100%;
        margin-bottom: 20px;
    }

    .vk {
        margin-top: 20px;
    }

    .aboutDiv {
        width: 100%;
    }

    .aboutTxt1 {
        display: none;
    }

    .aboutTxt1_1 {
        display: block;
    }

    .mainButsPar {
        margin-left: 0px;
    }

    .Dnone {
        display: flex;
    }

}

@media screen and (max-width:561px) {
    .nav2 {
        /* width: 100% !important; */
        /* margin: 0 auto !important; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
        padding-top: 20px;
    }

    .footer__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
        width: 300px;
    }

    .burger__menu {
        width: 320px;
    }

    .mainSec {
        flex-direction: column;
    }

    .burger__menu {
        width: 320px;
    }

    .photoDiv {
        width: 100%;
        margin-bottom: 20px;
        height: 166px !important;
    }

    .photoDiv>a {
        padding: 11px 31px;

    }

    .aboutDiv {
        width: 100%;
    }

    .aboutTxt2Div {
        width: 100% !important;
    }

    .aboutTxt4 {
        width: 100%;
    }

    .commentsPar {
        width: 100%;
    }

    .sendComent {
        width: 100%;
    }

    .commentInput {
        width: 300px;
    }

    .commentBut {
        width: 300px;
    }

    .sendComent {
        flex-direction: column;
        row-gap: 20px;
    }

    .comPar {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    .DnoneSpan {
        display: inline;
    }

    .comment {
        width: 300px;
    }

    .commentTxt {
        padding-top: 15px;
    }

    .sec1Txt1 {
        padding-top: 30px;
    }
}


@media screen and (max-width:430px) {
    .container{
        width: 320px;
    }
    .searchdrop{
        width: 100px;
    }
}