* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family:'gilroy';

    list-style: none;
}

body {
    background-color: #17191C;
}

@font-face{
    font-family:'gilroy';
    src:url('./fonts/gilroy.ttf')
}

@font-face{
    font-family:'gilroy';
    src:url('./fonts/gilroyultra.ttf')
}

@font-face{
    font-family:'Bebes';
    src:url('./fonts/bebesNeue.ttf')
}

@font-face{
    font-family:'GraphikLight';
    src:url('./fonts/Graphik-Regular.ttf')
}

@font-face{
    font-family:'GraphikBold';
    src:url('./fonts/Graphik-Bold.ttf')
}

.par {
    width: 408px;
    min-height: 291px;
    background-color: #292929;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.par div {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.txt1 {
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.txt2 {
    margin: 0 auto;
    padding: 15px 0 29px;
    text-align: center;
    width: 290px;
    opacity: .4;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    color: rgba(255, 255, 255, .2)
}

button {
    padding: 11px 40px;
    background-color: rgba(209, 47, 39, 0.3);
    border-radius: 6px;
    border: 1px solid transparent;
    display: block;
    margin: 0 auto;
    color: white;
}

.gray {
    background-color: #555555;

}

.red {
    padding: 11px 58px;
    margin-bottom: 41px;
}

.or {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.line {
    width: 48px;
    /* height: 1p   x !important; */
    border: 1px solid rgba(255, 255, 255, .2);
    background-color: #545454;
}

.or span {
    color: white;
    opacity: .2;
    padding: 0 10px;
}

.txt2 input {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    width: 16px !important;
    height: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 3px;
    position: relative;
    /* margin-top: 12px; */
}

.txt2 input::after {
    content: '';
    color: white;
}

.txt2 input:checked::after {
    content: '\2713';

    color: white;
}

.par2 {
    width: 496px;
    height: 269px;
}

.par2 {
    width: 496px;
    min-height: 291px;
    background-color: #292929;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.par2 div {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.par2Txt1 {
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding-left: 40px;
    padding-bottom: 14px;
    /* text-align: center; */
}

.par2 input {
    margin-left: 20px;
    padding: 14px 0 14px 20px;
    background-color: transparent;
    border-radius: 6px;
    width: 420px;
    border: 1px solid rgba(255, 255, 255, .2);
}

.par2Txt2 {
    font-size: 14px;
    color: #898989;
    padding-left: 40px;
    padding-top: 14px;
    padding-bottom: 18px;
}

.par2 button {
    background-color: #D12F27;
    width: 421px;
    margin: 0 0 0 20px;
}

.par3 {
    width: 496px;
    min-height: 291px;
    background-color: #292929;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.x {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.main {
    width: 472px;
    margin: 0 auto;
}

.main p {
    font-size: 16px;
    color: white;
}

.loading {
    width: 421px;
    border-radius: 36px;
    height: 16px;
    background-color: #474747;
}

.loadingLine {
    margin: 14px 0 27px;
    width: 79px;
    border-radius: 36px;
    height: 16px;
    border: 1px solid transparent;
    background-color: #FF6A63;
}

.par3 input {
    /* margin-left: 20px; */
    padding-top: 14px;
    padding-left: 20px;
    padding-bottom: 14px;
    background-color: transparent;
    border-radius: 6px;
    width: 420px;
    border: 1px solid rgba(255, 255, 255, .2);
}

.inp2 {
    /* padding: 14px 0 112px 14px; */
    background-color: transparent;
    border-radius: 6px;
    /* height: 112px; */
    width: 420px;
    border: 1px solid rgba(255, 255, 255, .2);
    padding-bottom: 90px !important;
}

.inp2::placeholder {
    margin-bottom: 100px !important;
}

.main button {
    background-color: #D12F27;
    width: 421px;
    margin: 14px 0;
}