* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    font-family:'gilroy';

}
@font-face{
    font-family:'gilroy';
    src:url('./fonts/gilroy.ttf')
}

@font-face{
    font-family:'gilroy';
    src:url('./fonts/gilroyultra.ttf')
}

@font-face{
    font-family:'Bebes';
    src:url('./fonts/bebesNeue.ttf')
}

@font-face{
    font-family:'GraphikLight';
    src:url('./fonts/Graphik-Regular.ttf')
}

@font-face{
    font-family:'GraphikBold';
    src:url('./fonts/Graphik-Bold.ttf')
}
body {
    overflow-x: hidden;
}

.searchdrop {
    padding: 16px 0 16px 16px;
    border-radius: 5px;
}

.header__logo {
    width: 150px;
    text-align: center;
}

header {
    max-width: 100%;

}
header a {
    color: white;
}
.header__logo a {
    text-align: center;
    width: 150px;
}
.containerMain {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.stand1 {
    font-size: 20px !important;
}

.wrapper {
    width: 100%;
    min-height: 680px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: #1C1E21;
    padding-top: 17px;
}



header {
    max-width: 1350px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 55px;
    position: relative;
    margin: auto;
}
.container{
    width: 1350px;
}
header>a {
    padding: 10px 32px;
    background: #D12F27;
    border-radius: 5px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav>li {
    margin-left: 28px;
}

body {
    overflow-x: hidden;
}

.nav>li a {
    font-size: 16px;
    line-height: 17.6px;
    font-weight: 600;
}

.nav>li:last-child {
    display: flex;
}

.nav>li img {
    margin-right: 15px;
    cursor: pointer;
}

header a {
    color: white;
}

.stand {
    font-family: 'Bebes';

    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
}

.concert {
    font-size: 12px;
    font-weight: 400;
    line-height: 10.44px;
    letter-spacing: 1px;
    display: block;
    text-align: center;
}
.DnoneImg{
    display: none;
}
.burger {
    width: 18px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
}

.burger>img+img {
    margin-top: 6px;
    border-radius: 2px;
}

.burger>img:last-child {
    width: 10px;
    height: 2px;
    transition: .5s;
}

.burger:hover>img:last-child {
    width: 18px;
}

footer {
    width: 100%;
    min-height: 157px;
    background: #19191D;
}

.footer__container {
    max-width: 1350px;
    margin: auto;
    min-height: 157px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

footer .stand {
    color: white;
}

footer .concert {
    color: white;
}

footer a {
    color: white;
}

.vk {
    width: 38px;
    height: 38px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabinet {
    max-width: 590px;
    min-height: 620px;
    background: linear-gradient(#1C1E21, #2C2E31 90%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 13px 42px;
}

.cabinet__content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cabinet p {
    font-weight: 400;
    font-size: 14px;
    line-height: 15.4px;
    color: white;
}

.cabinet__nav {
    display: flex;
    flex-direction: column;
}

.cabinet__nav li+li {
    margin-top: 26px;
}

.cabinet__nav li a {
    color: white;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
}

.cabinetmain {
    display: flex;
    max-width: 1350px;
    margin: auto;
}

.cabinet h2 {
    color: white;
    font-size: 28px;
    font-weight: 300;
    line-height: 31px;
    margin-top: 26px;
    margin-bottom: 36px;
}

.cabinet__login {
    width: 100%;
    height: auto;
    margin-top: 150px;
    margin-left: 56px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.cabinet__login h2 {
    color: white;
}

.cabinet__login>p {
    color: white;
    font-size: 14px;
    line-height: 15.4px;
    font-weight: 300;
    margin-top: 36px;
}

.cabinet__login .info {
    margin-top: 12px;
    width: 100%;
    height: 50px;
    background: #2B2D30;
    padding: 0 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.info p {
    color: white;
    font-size: 14px;
    line-height: 15.4px;
}

.info h4 {
    position: absolute;
    left: 143px;
    color: white;
    font-size: 14px;
    line-height: 15.4px;
    font-weight: 400;
}

.cabinet__login button {
    padding: 10px 23px;
    background: #D12F27;
    opacity: 0.3;
    border-radius: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    border: none;
    color: white;
    margin-top: 25px;
    transition: .5s;
    cursor: pointer;
}



.burger__menu {
    position: absolute;
    right: -100%;
    top: 0;
    width: 713px;
    height: 100vh;
    background: linear-gradient(#1C1E21, #2C2E31 90%);
    z-index: 2;
    padding-left: 75px;
    padding-top: 52px;
    color: white;
    transition: .65s;
    display: none;
}

.burger__menu h4 {
    font-size: 16px;
    line-height: 17.6px;
    font-weight: 600;
    margin-bottom: 30px;
}

.burger__ul {
    display: flex;
    flex-direction: column;
}

.burger__ul li+li {
    margin-top: 30px;
}

.burger__ul li a {
    color: white;
    font-size: 16px;
    line-height: 17.6px;
    font-weight: 300;
}

.burger__menu img {
    position: absolute;
    top: 40px;
    right: 50%;
    cursor: pointer;
}

.private img {
    display: none;
}

.cabinet__login button:hover {
    opacity: 1;
}

@media screen and (max-width:850px) {
    .burger__menu {
        max-width: 100%;
        padding-left: 20px;
    }

    .burger__menu .close {
        right: 22% !important;
    }
    .DnoneLi{
        display: none;
    }
    .DnoneImg{
        display: block;
    }
    .myCabinet span{
        display: none;
        
    }
    .myCabinet img{
        display: block;

    }
    .footer__container{
        padding: 30px 0;
        flex-direction: column;
    }
    footer .nav{
        row-gap: 20px;
        margin: 15px 0;
        flex-direction: column;
    }
    footer .nav li{
        padding: 0;
        margin: 0;
        text-align: center;
    } 
}

@media screen and (max-width:960px) {
    .container{
        width: 900px;
    }
    .searchdrop{
        width: 100px;
        overflow: hidden;
    }
    .private span {
        display: none;
    }

    .private img {
        display: block;
    }

    .private {
        display: block;
        margin-left: 50%;
    }

    .cabinetmain {
        flex-direction: column;
    }

    .cabinet {
        background: none;
        min-height: 35px;
        align-items: flex-start;
    }

    .cabinet__login {
        margin-top: 80px;
        margin-left: 0;
        padding: 0 15px;
    }

    .stand {
        font-size: 25px;
    }

    .private {
        margin-left: 25%;
    }
}

@media screen and (max-width:450px) {
    .private {
        margin-left: 15%;
    }

    .info h4 {
        position: absolute;
        left: 75px;
        font-size: 10px;
    }

    .info p {
        font-size: 10px;
    }

    .stand {
        font-size: 20px;
    }
}

@media screen and (max-width:380px) {
    .private {
        margin-left: 5%;
    }
}
.cabinetPar{
    width: 590px;
    display: flex;
}


.class {
    height: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    cursor: pointer !important;
}





.nav>li {
    margin-left: 28px;
}

.nav>li a {
    font-size: 16px;
    line-height: 17.6px;
    font-weight: 600;

}

.nav>li:last-child {
    display: flex;
}

.nav>li img {
    margin-right: 15px;
    cursor: pointer;
}
.myCabinet {
    background-color: #D12F27;
    color: white;
    padding: 10px 32px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 5px;
    margin: 0 10px;
    text-align: center;
}
/* .cabinet{
    width: 506px;
    height: 620px;
    background: linear-gradient(#1C1E21 ,#2C2E31 90%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 13px 42px;
} */
.cabinet__login>p{
    color: #8D8E90 !important;
}
.cabinet__content{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cabinet p{
    font-weight: 400;
    font-size: 14px;
    line-height: 15.4px;
    color: white;
}

.cabinet__nav{
    display: flex;
    flex-direction: column;
}

.cabinet__nav li + li{
    margin-top: 26px;
}

.cabinet__nav li a{
    color: white;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
}
