body{
    overflow-x: hidden;
}
@font-face{
    font-family:'gilroy';
    src:url('./fonts/gilroy.ttf')
}

@font-face{
    font-family:'gilroy';
    src:url('./fonts/gilroyultra.ttf')
}

@font-face{
    font-family:'Bebes';
    src:url('./fonts/bebesNeue.ttf')
}

@font-face{
    font-family:'GraphikLight';
    src:url('./fonts/Graphik-Regular.ttf')
}

@font-face{
    font-family:'GraphikBold';
    src:url('./fonts/Graphik-Bold.ttf')
}
.burger__menu{
    position: absolute;
    right: -70%;
    top: 0;
    width: 713px;
    height: 100vh;
    background: linear-gradient(#1C1E21 ,#2C2E31 90%);
    z-index: 2;
    padding-left: 75px;
    padding-top: 52px;
    color: white;
    transition: .65s;
    display: none;
}

.burger__menu h4{
    font-size: 16px;
    line-height: 17.6px;
    font-weight: 600;
    margin-bottom: 30px;
}

.burger__ul{
    display: flex;
    flex-direction: column;
}

.burger__ul li + li{
    margin-top: 30px;
}

.burger__ul li a{
    color: white;
    font-size: 16px;
    line-height: 17.6px;
    font-weight: 300;
}

.burger__menu img{
    position: absolute;
    top: 40px;
    right: 50%;
    cursor: pointer;
}