<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="burger__menu">
        <h4>Мой профиль</h4>
        <ul class="burger__ul">
            <li><a href="#">Настройки</a></li>
            <li><a href="emptyAdd1.html">Подписки</a></li>
            <li><a href="emptyAdd2.html">Избранные выступления</a></li>
            <li><a href="emptyAdd3.html">Любимые комики</a></li>
            <li><a href="comic.html">Личный кабинет комика</a></li>

        </ul>
        <img src="img/x.png" class='close'>
    </div>
    <div class="wrapper wrapper1">

        <header>
            <div class="header__logo">
                <a href="index.html">
                    <img src="./img/iconSite.png" alt="">
                </a>
            </div>
            <ul class="nav">
                <li class="willnone"><a href="./index.html">Главная</a></li>
                <li class="willnone"><a href="./catalog.html" style="color:#FF6A63">Каталог</a></li>
                <li class="willnone"><a href="#">Коллекции</a></li>
                <li class='searchdrop'>
                    <img src="img/search.png" class="whiteimg" alt="">
                    <img src="./img/searchred.png" class="redimg" alt="">
                    <input type="search" class="class" placeholder="Поиск">
                </li>
            </ul>
            <a href="#" class="myCabinet"><span>Личный кабинет</span> <img class="DnoneImg"
                    src="./img/lichni.png"></a>
            <div class="burger">
                <img src="img/rect1.png" alt="">
                <img src="img/rect1.png" alt="">
                <img src="img/rect2.png" alt="">
            </div>
        </header>


    </div>
    <section id="sec1">
        <div class="container">
            <p class="sec1Txt1">Stand Up Concerts/<span class="sec1Txt1_1">Каталог</span></p>
            <div class="mainSec">
                <div class="aboutTxt1Par">
                    <p class="aboutTxt1_1">Однажды у бабушки</p>

                </div>
                <div class="photoDiv">
                    <a href="">Смотреть по подписке</a>
                </div>
                <div class="aboutDiv">

                    <p class="aboutTxt1">Однажды у бабушки</p>
                    <div class="aboutTxt2Div">
                        <span>2019</span>
                        <span>34 минут</span>
                        <div>
                            <img src="./img/catalogopenSmall.png" alt="">
                            <span>Александр Сатаков</span>
                        </div>
                    </div>
                    <p class="aboutTxt3">описание</p>
                    <p class="aboutTxt4">А также представители современных социальных резервов объявлены нарушающими
                        общечеловеческие нормы этики и морали. А ещё представители современных социальных резервов
                        являются только методом политического участия и объявлены нарушающими общечеловеческие нормы
                        этики и морали. Повседневная практика показывает, что дальнейшее развитие различных форм
                        деятельности прекрасно подходит для реализации анализа существующих паттернов поведения.</p>
                </div>
            </div>
            <div class="mainButsPar">
                <button class="mainButs">
                    <img src="./img/izbrannoe.png" alt="">
                    <p>Добавить в избранные</p>
                </button>
                <button class="mainButs">
                    <img src="./img/like.png" alt="">
                    <p>12</p>
                </button>
            </div>
        </div>
    </section>

    <section id="CatalogSec2">
        <div class="container">
            <div class="commentsPar">
                <p class="commentsTxt1">Комментарии</p>
                <div class="sendComent">
                    <div class="comPar">
                        <img width="35px" height="36px" src="./img/catalogopenSmall.png" alt="">
                        <span class="DnoneSpan" style="color:white; ">Иван Иванов</span>
                    </div>
                    <div>
                        <form action="">
                            <input class="commentInput" type="text" placeholder="Ваш комментарий">
                            <button class="commentBut">Оставить комментарий</button>
                        </form>
                    </div>
                </div>
                <div class="comments">
                    <div class="comment">
                        <img width="35px" height="36px" src="./img/catalogopenSmall.png" alt="">
                        <div class="nameCommenterDiv">
                            <p class="comenter">Иван Иванов <span>12 мая</span></p>
                            <p class="commentTxt">Очень недооцененный фильм,в котором отображены реалии жизни московских
                                девушек, брошеных на произвол судьбы в огромном городе. Как же точно...</p>
                            <div class="likes">
                                <img src="./img/like.png" alt="">
                                <span>13</span>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <img width="35px" height="36px" src="./img/catalogopenSmall.png" alt="">
                        <div class="nameCommenterDiv">
                            <p class="comenter">Иван Иванов <span>12 мая</span></p>
                            <p class="commentTxt">Очень недооцененный фильм,в котором отображены реалии жизни московских
                                девушек, брошеных на произвол судьбы в огромном городе. Как же точно...</p>
                            <div class="likes">
                                <img width="14px" height="15px" src="./img/like.png" alt="">
                                <span>13</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sec3">
        <div class="container">

            <p class="sec3Txt">Смотрите еще</p>

            <div class="elementsPar">
                <a href="./catalogOpen.html">

                    <div class="elements">
                        <img src="./img/CatalogPhoto.png" alt="">
                        <p class="elBigTxt">Название выступления...</p>
                        <div class="elSmallTxtPar">
                            <span>2019</span>
                            <span>Иван Иванов</span>
                        </div>
                    </div>
                </a>
                <a href="./catalogOpen.html">

                    <div class="elements">
                        <img src="./img/CatalogPhoto.png" alt="">
                        <p class="elBigTxt">Название выступления...</p>
                        <div class="elSmallTxtPar">
                            <span>2019</span>
                            <span>Иван Иванов</span>
                        </div>
                    </div>
                </a>
                <a href="./catalogOpen.html">

                    <div class="elements">
                        <img src="./img/CatalogPhoto.png" alt="">
                        <p class="elBigTxt">Название выступления...</p>
                        <div class="elSmallTxtPar">
                            <span>2019</span>
                            <span>Иван Иванов</span>
                        </div>
                    </div>
                </a>
                <a href="./catalogOpen.html">

                    <div class="elements">
                        <img src="./img/CatalogPhoto.png" alt="">
                        <p class="elBigTxt">Название выступления...</p>
                        <div class="elSmallTxtPar">
                            <span>2019</span>
                            <span>Иван Иванов</span>
                        </div>
                    </div>
                </a>
                <a href="./catalogOpen.html">

                    <div class="elements">
                        <img src="./img/CatalogPhoto.png" alt="">
                        <p class="elBigTxt">Название выступления...</p>
                        <div class="elSmallTxtPar">
                            <span>2019</span>
                            <span>Иван Иванов</span>
                        </div>
                    </div>
                </a>
                <a href="./catalogOpen.html">

                    <div class="elements">
                        <img src="./img/CatalogPhoto.png" alt="">
                        <p class="elBigTxt">Название выступления...</p>
                        <div class="elSmallTxtPar">
                            <span>2019</span>
                            <span>Иван Иванов</span>
                        </div>
                    </div>
                </a>
                <a href="./catalogOpen.html">

                    <div class="elements">
                        <img src="./img/CatalogPhoto.png" alt="">
                        <p class="elBigTxt">Название выступления...</p>
                        <div class="elSmallTxtPar">
                            <span>2019</span>
                            <span>Иван Иванов</span>
                        </div>
                    </div>
                </a>
                <a href="./catalogOpen.html">

                    <div class="elements">
                        <img src="./img/CatalogPhoto.png" alt="">
                        <p class="elBigTxt">Название выступления...</p>
                        <div class="elSmallTxtPar">
                            <span>2019</span>
                            <span>Иван Иванов</span>
                        </div>
                    </div>
                </a>
                <a href="./catalogOpen.html">
                    <div class="elements">
                        <img src="./img/CatalogPhoto.png" alt="">
                        <p class="elBigTxt">Название выступления...</p>
                        <div class="elSmallTxtPar">
                            <span>2019</span>
                            <span>Иван Иванов</span>
                        </div>
                    </div>
                </a>
                <a class="Dnone" href="./catalogOpen.html">
                    <div class="elements">
                        <img src="./img/CatalogPhoto.png" alt="">
                        <p class="elBigTxt">Название выступления...</p>
                        <div class="elSmallTxtPar">
                            <span>2019</span>
                            <span>Иван Иванов</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </section>
    <footer>
        <div class="footer__container">
            <div class="header__logo">
                <a href="index.html">
                    <img src="./img/iconSite.png" alt="">
                </a>
            </div>
            <ul class="nav">
                <li><a href="#" >Главная</a></li>
                <li><a style="color:#FF6A63" href="catalog.html">Каталог</a></li>
                <li><a href="#">Коллекции</a></li>
            </ul>
            <a href="#">
                <div class="vk">
                    <img src="img/vk.png" alt="">
                </div>
            </a>
        </div>
    </footer>
    <script src="./script/favorite.js"></script>
</body>

</html>